$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: #1a212b;
$very-dark-blue: hsl(216, 12%, 8%);
$orange: #bc6d34;
$light-orange: #fc7711;
$card-length: 400px;
$border-radius: 40px;
$icon-container-size: 50px;
$transparent-background: rgba(white, 0.1);

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   transition: all 200ms ease-in-out;
}

h1 {
   font-size: 1.75em;
   margin-bottom: 0.5em;
   margin-top: 1em;
}

p {
   color: $light-grey;
   line-height: 1.5em;
}

.rating-content {
   background-color: $very-dark-blue;
   color: $white;
   font-family: 'Overpass';
   font-size: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.rating-state,
.thank-you {
   background-color: $dark-blue;
   width: $card-length;
   height: $card-length;
   border-radius: $border-radius;
   padding: 1.5em;
}

.rating-state {
   &__star-container,
   &__number {
      background-color: $transparent-background;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $icon-container-size;
      height: $icon-container-size;
      border-radius: $icon-container-size;
   }

   &__number {
      padding-top: 3px;
      &:hover:not(.rating-state__number--selected) {
         color: $white;
         background-color: $light-grey;
      }

      &--selected {
         color: $white;
         background-color: $light-orange;
      }
   }

   &__choice-container {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      margin-bottom: 20px;
   }

   &__submit-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      background-color: $light-orange;
      letter-spacing: 5px;
      padding-top: 20px;
      padding-bottom: 15px;
      border-radius: 30px;
      line-height: 15px;
      cursor: pointer;

      &:hover {
         background-color: $white;
         color: $light-orange;
      }
   }
}

.thank-you {
   display: none;
   justify-content: center;
   flex-direction: column;
   &__rate-selected-phrase {
      background-color: $transparent-background;
      padding: 5px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      color: $orange;
      margin-top: 20px;
   }

   &__image-container,
   &__rate-selected-phrase-container,
   &__title-container,
   &__details-container {
      display: flex;
      justify-content: center;
      text-align: center;
   }

   &__details-container {
      padding-left: 10px;
      padding-right: 10px;
   }
}

#chosenValue {
   margin-left: 5px;
   margin-right: 5px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }